.header-height{
  height: 100px;
}

.index-bg-image{
  background-image: url('../images/home-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.index-presentation-height{
  height: calc(100% - 100px);
}

.index-suppliers-video{
  width: 80%; height: 375px;
}
