@import url('https://api.fonts.coollabs.io/css2?family=Prata&display=swap');

:root{
  font-size: 16px;
  font-family: 'Prata', serif;
}

* {
  margin: 0; 
  padding: 0;
}

body {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
}

.logo {
	height: 80%;
	aspect-ratio: 1;
	background-color: rgb(255, 229, 82);
	margin-left: 15px;
	border-radius: 50%;
}

nav {
	width: 100%;
	height: 100px;
	background-color: #F8F7FF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1px rgb(255, 229, 82);
}

nav > ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	list-style: none;
	height: 100%;
	width: 25%;
	font-size: 1.5em;
}

nav > ul > li {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

nav > ul > li > a {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	text-decoration: inherit;
	color: black;
	transition: ease-in-out;
	transition-duration: 0.4s;
}

 nav > ul > li > a:hover {
	animation-name: fade;
	animation-duration: 0.4s;
	background-color: rgb(255, 229, 82);
}

@keyframes fade {
	from {opacity: 0.7;}
	to {opacity: 1;}
}