@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

:root{
  font-size: 16px;
}

* {
  margin: 0; padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Prata', serif;
  width: 100%;
  min-height: 100vh;
}