@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

:root{
  font-size: 16px;
  font-family: 'Prata', serif;
}

* {
  margin: 0; padding: 0;
}

body{
  width: 100%;
  min-height: 100vh;
}