.productDetails-card-style{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f8f7ff;
}

.productDetails-card-container{
    border: solid rgb(255, 229, 82);
}

.productDetails-card-img{
    border-radius: 15px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.productDetails-card-btn{
    background-color: #fff;
    border: solid 5px rgb(255, 229, 82);
}

.productDetails-card-btn:hover{
    border: solid #fff 5px;
    outline: 2px solid rgb(255, 229, 82);
    background-color: rgb(255, 229, 82);
}