.img-fluid  {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

button{
    border: solid 5px#fff ;
    padding: 0;
}

button:focus{
    border: solid 5px rgb(255, 229, 82);
    transform: scale(1.05);
}

.btn{
    background-color: #fff;
    border: solid 5px rgb(255, 229, 82);
}

.btn:hover{
    border: solid #fff 5px;
    outline: 2px solid rgb(255, 229, 82);
    background-color: rgb(255, 229, 82);
}