#container_products{
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;
  width: 90%;
  margin: 100px auto 100px;
}

#container_products h2{
  margin-left: 40px;
  text-align: center;
}

.card {
  align-items: stretch;
  width: 60%;
  height: auto;
  background-color: #fff;
  margin: 20px auto 20px;
  border-radius: 10px;
}

.card-container {
  align-items: center;
  border: solid rgb(255, 229, 82);
  padding: 10px;
  border-radius: 10px;
  background-color: #F8F7FF;
  gap: 20px;
  display: flex;
}

.card-container img {
  object-fit: center;
  object-position: center;
  border-radius: 10px;
  width: 200px;
  height: 100%;
}

.card-description{
  margin-top : 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-footer {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #F8F7FF;
  align-items: center;
}

.card-footer button{
  border: none;
  padding: 10px;
  border-radius: 7px;
  border: solid #fff 5px;
  background-color: rgb(255, 229, 82);
}

.card-footer a{
  border-radius: 7px;
  text-decoration: none;
  color: #000;
}